@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loadingAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loading {
  animation: loadingAnimation 2s linear infinite;
}